.Select {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.Select:last-child {
    margin-bottom: 0;
}

.Select label {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Select select {
    flex: 0 0 auto;
    border: 1px solid #edf2f9;
    border-radius: .25rem;
    padding: .5rem .75rem;
    outline: 0;
}

.Select select:focus,
.Select select:active {
    border-color: #2c7be5;
}