.Modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .Modal-container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: auto;
      background-color: #ffffff;
      border: 1px solid #edf2f9;
      border-radius: 0;
      margin: .75rem auto;
      box-shadow: 0 .75rem 1.5rem rgba(20, 40, 60, .03);
  }
  
  @media (min-width: 576px) {
      .Modal-container {
          max-width: 500px;
          margin: 1.75rem auto;
          border-radius: .25rem;
      }
  }
  
  .Modal header,
  .Modal section {
      padding: .5rem 1rem;
  }
  
  .Modal header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #edf2f9;
  }
  
  .Modal header div:first-child {
      flex: 1 0 auto;
  }
  
  .Modal header div:last-child {
      flex: 0 0 auto;
  }